@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;900&family=Open+Sans:ital,wght@0,600;1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  background: #fff;
}

header {
  background: #222222;
}

header button {
  border: none;
  background: none;
  cursor: pointer;
}
.container {
  width: 1140px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  justify-content: space-between;
  gap: 859px;
}

.left_blok {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 41px;
  width: 111px;
  color: #e8e8e8;
  padding: 19px;
}

.right_blok {
  width: 159px;
  color: #e8e8e8;
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 33px;
  margin-top: 26px;
  margin-bottom: 20px;
}

.content_wraper {
  background: #f1e4e6;
  margin-bottom: 65px;
}

.content-banner {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 63px;
}
.banner_text {
  width: 405px;
  border-left: 12px solid#F16D7F;
}

.banner_text h1 {
  color: #222;
  font-size: 48px;
  font-family: Lato;
  font-weight: 900;
  margin-left: 16px;
}

.banner_text h3 {
  color: #222;
  font-size: 32px;
  font-family: Lato;
  font-weight: 700;
  margin-left: 16px;
}
.cart_blok1 {
  background: #fff;
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 96px;
}
.img_text {
  position: absolute;
  color: #fff;
  text-align: center;
  font-size: 16px;
}

.content-cart_blok {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-cart_blok1 {
  position: absolute;
  height: 100%;
}
.content-cart_blok4 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: span 3;
}

.content-cart_blok4_4 {
  position: absolute;
  height: 100%;
}

.cart_blok2 {
  font-family: "Lato";
}

.cart_blok2 h1 {
  color: #222;
  font-size: 30px;
  text-align: center;
  height: 36px;
  margin-bottom: 6px;
}

.cart_blok2 p {
  color: #9f9f9f;
  font-size: 14px;
  text-align: center;
}
.carts {
  margin: 0 auto;
  background: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 25px 30px;
  padding: 48px;
}
.cart {
  background: #f8f8f8;
  width: 360px;
}
.carts_text {
  display: flex;
  width: 360px;
  padding: 24px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}
.carts_text h2 {
  color: #000;
  font-size: 13px;
}
.carts_text p {
  color: #5d5d5d;
  font-size: 14px;
  text-align: start;
}
.carts_text h3 {
  color: #f16d7f;
  font-size: 16px;
}

.bottom_button {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.bottom_button button {
  width: 211px;
  height: 48px;
  color: #f26376;
  font-size: 16px;
  border: 1px solid#FF6A6A;
  background: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .container {
    width: 735px;
  }
  .navigation {
    gap: 338px;
  }

  .left_blok {
    padding: 18px 32px;
  }
  .right_blok {
    gap: 25px 42px;
    padding: 0 32px;
    width: 169px;
  }

  .content_wraper img {
    width: 386px;
  }

  .banner_text {
    width: 299px;
  }
  .banner_text h1 {
    font-size: 44px;
  }

  .banner_text h3 {
    font-size: 24px;
  }
  .content-banner {
    gap: 39px;
  }
  .cart_blok1 {
    gap: 19px;
    margin-bottom: 109px;
  }
  .content-cart_blok {
    width: 232px;
  }
  .content-cart_blok img {
    width: 232px;
  }

  .content-cart_blok4 {
    width: 734px;
  }
  .content-cart_blok4 img {
    width: 734px;
  }

  .cart_blok2 h1 {
    margin-bottom: 3px;
  }

  .carts {
    padding: 0;
    gap: 16px 17px;
    margin-top: 73px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-bottom: 32px;
  }
}
@media (max-width: 375px) {
  .container {
    width: 343px;
  }
  .hidden {
    display: none;
  }
  .navigation {
    gap: 0;
  }

  .left_blok {
    padding: 18px 0;
  }
  .right_blok {
    padding: 0 0;
    width: 32px;
  }
  .content_wraper {
    padding: 150px 56px;
    margin-bottom: 65px;
  }
  .banner_text {
    width: 264px;
  }
  .banner_text h1 {
    font-size: 38px;
  }

  .banner_text h3 {
    font-size: 20px;
  }
  .cart_blok1 {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    margin-bottom: 109px;
  }
  .content-cart_blok {
    width: 343px;
  }
  .content-cart_blok img {
    width: 343px;
  }

  .content-cart_blok4 {
    width: 343px;
    overflow: hidden;
  }
  .cart_blok2 h1 {
    margin-bottom: 3px;
  }

  .carts {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    margin-left: 8px;
    margin-right: 8px;
  }
}
